.card-info {
    width: 100%;
    height: 100%;
}
.search-input {
    width: 100%;
    text-align: center;
}
.full-width {
    width: 100%;
}
.list-last-searchs,
.list-search-info {
  width: 50%;
  display: inline-block;
  vertical-align: top;
}

.loader {
  position: absolute;
  display: flex;
  top: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

agm-map {
  height: 100%;
  width: 100%;
}


